body, html {
    padding: 0;
    margin: 0; /* Removes default margin */
    height: 100%; /* Ensures the gradient covers the entire content */
    min-height: 100vh; /* Ensures at least viewport height coverage */
    background-color: rgb(28, 38, 49);;
    font-family: sans-serif;
}

/* Header Styles */
nav {
    height: 5vh;
    background: #ffffff;
    color: #333;
    position: fixed; /* Updated to fixed */
    width: 100%;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center; /* Ensure vertical alignment is centered */
    justify-content: space-between; /* Maintains space between elements */
    z-index: 1000; /* Ensures the header stays on top */
}

.nav-title {
    color: #333;
    font-size: 2.5vw;
    margin-left: 40px;
    margin-right: auto; /* Pushes all subsequent elements to the right */
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 1.5vw;
    justify-content: flex-end;  
    padding-right: 20px;    
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

.bar{
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;;
   background-color: black;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 40px;
}

.hamburger .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: 0.3s;
}

.nav-menu {
    display: flex;
    list-style: none;
    font-size: 1.5vw;
    justify-content: flex-end;
    padding-right: 20px;
}

section {
    padding: 60px;
    text-align: center;
    min-height: 100vh;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Adjusts for the header height */
    padding: 0 50px;
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.home-container {
    width: 100%;
    display: flex;
    flex-direction: row;  /* Default layout in row */
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.home-text {
    width: 50%; /* Half of the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-image {
    width: 50%; /* Half of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    max-width: 60%;
    height: auto;
    border-radius: 30px;
    object-fit: cover; /* Ensures the image covers the space without being distorted */
    border: 10px solid white; /* Adds a white border, adjust the thickness as needed */
    box-shadow: 0 0 8px rgba(0,0,0,0.6); /* Optional: Adds a shadow for better visibility against all backgrounds */    
}

/* Responsive adjustment for smaller screens */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column; /* Stacks the child divs vertically */
    }

    .home-text, .home-image {
        width: 100%; /* Each takes full width of the container */
        margin-bottom: 40px; /* Adds space below each div */
    }

    .home-text {
        order: 1; /* Ensures text appears on top */
    }

    .home-image {
        order: 2; /* Ensures image appears below */
        margin-bottom: 0; /* Removes margin at the bottom */
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        z-index: 1000;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav-menu.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-menu li {
        margin: 20px 0;
        font-size: 16px;
    }
}

.intro-text {
    font-size: 4vw;
    text-align: center;
}

.typewrite > .wrap {
    border-right: 0.08em solid #fff; /* Cursor style */
    color: #333; /* Text color */
    font-size: 5vw; /* Responsive font size, adjust as needed */
    text-align: center; /* Ensures text aligns right */
}

.typewrite {
    margin-top: 0; /* Aligns top of the typewriter text with its container */
    width: auto; /* Adjust width as needed or keep it auto */
}

#about {
    background: rgb(28, 38, 49);
}

.about-heading{
    font-size: 4vw;
    font-family: sans-serif;
    color: white;
    text-align: start;
    margin-left: 5%;
}

.about-text-div{
    margin-left: 5%;
    width: 80%;
}

.about-text{
    font-size: 21px;
    font-family: sans-serif;
    color: #fff;
    text-align: start;
    padding-left: 20px;
}

.about-text-block-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)); /* Creates columns that fill the space, minimum 250px, maximum 1 fraction of available space */
    grid-gap: 0px; /* Spacing between grid items */
    padding: 20px;
}

.about-text-block-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 255);
    font-size: 21px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.about-text li {
    margin-bottom: 20px; /* Adjust the space between items as needed */
    margin-left: 40px;
}


#experience {
    background: rgb(28, 38, 49);
}

.experience-heading{
    font-size: 4vw;
    font-family: sans-serif;
    color: white;
    text-align: start;
    margin-left: 5%;
}

.timeline-block{
    width: 80%;
    margin-left: 5%;
}

ul {
    list-style-type: disc;
}
li {
    color: white; /* Changes both the bullet and text color */
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: " ";
    background: rgb(0, 255, 255);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 30px 0;
    padding-left: 20px;
    color: #fff;
    text-align: start;
    font-size: 22px;
    font-family: sans-serif;
}

ul.timeline > li:before {
    content: " ";
    background: rgb(0, 255, 255);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline-date{
    font-size: 18px;
}

#work {
    background: rgb(28, 38, 49);
} 

.work-heading{
    font-size: 4vw;
    font-family: sans-serif;
    color: white;
    text-align: start;
    margin-left: 5%;
}

/* Styling for the blocks section */
#blocks {
    background: rgb(28, 38, 49); /* Sets the section background to black */
    display: flex; /* Enables flexbox for the container */
    flex-wrap: wrap; /* Allows blocks to wrap onto the next line if there is not enough space */
    justify-content: center; /* Centers the blocks horizontally */
    padding: 20px; /* Adds padding around the blocks */
}

.block-row {
    width: 100%; /* Ensures the row takes full width of the container */
    display: flex; /* Uses flexbox for horizontal alignment */
    justify-content: space-around; /* Evenly spaces the blocks within the row */
    margin-bottom: 10px; /* Adds bottom margin to each row for spacing */
    margin-left: 5%;
}

.block {
    width: 300px; /* Fixed width for all blocks */
    height: 250px; /* Fixed height for all blocks */
    padding: 10px; /* Padding inside each block */
    background-color: white; /* Background color of the block */
    color: black; /* Text color inside the block */
    display: flex; /* Enables flexbox for content alignment */
    flex-direction: column; /* Stacks children vertically */
    align-items: start; /* Aligns items to the start of the flex container */
    justify-content: start; /* Vertically aligns content to the start */
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5); /* Initial shadow */
    overflow: hidden; /* Hides any overflow */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and shadow */
    border-radius: 10px;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}


.block:hover {
    transform: scale(1.05); /* Scales up the block */
    box-shadow: 0px 0px 25px rgb(0, 255, 255);
}

.block-header {
    color: #0136a0;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
    text-align: left;
}

.block-body {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.block-footer {
    color: #0136a0;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 5px;
}

@media (max-width: 920px) { /* Adjust based on total width of 3 blocks plus margins */
    .block-row {
        flex-wrap: wrap; /* Allows blocks to wrap onto the next line if not enough space */
    }

    .block {
        margin: 10px; /* Provides sufficient space around each block */
    }
}

#contact {
    background: rgb(28, 38, 49);
} 

.contact-heading{
    font-size: 4vw;
    font-family: sans-serif;
    color: white;
    text-align: start;
    margin-left: 5%;
}

.contact-text{
    margin-top: 10%;
    margin-left: 60px;
    margin-right: 60px;
}

.contact-icons{
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact-container{
    background-color: white; /* White background for the container */
    border: 1px solid #ccc; 
    padding: 20px; /* Padding inside the container */
    width: 70%;
    height: 50%;
    margin: 0 auto; /* Centering the container */
    border-radius: 10px;
}

.icon-link {
    margin: 0 10px; /* Adds space between icons */
    text-decoration: none;
}
  
.icon {
    width: 50px;
    height: auto;
}

button {
    background: rgb(28, 38, 49);
    color: white;
    font-size: 2vw;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.03);
}

@media screen and (min-width: 920px) {
    li.adjustable-font {
      font-size: 20px;
    }

    .about-text {
        font-size: 21px;
    }

    .about-text-block-text{
        font-size: 21px;
    }

    .contact-adjustable-font{
        font-size: 30px;
    }
}

@media screen and (max-width: 700px) {
    li.adjustable-font {
      font-size: 14.5px;
    }

    .about-text {
        font-size: 16px;
    }

    .about-text-block-text{
        font-size: 16px;
    }

    .contact-adjustable-font{
        font-size: 14px;
    }

    .block-header{
        font-size: 16px;
    }

    .block-body{
        font-size: 14px;
    }

    .block-footer{
        font-size: 14px;
    }

    ul.timeline > li{
        font-size: 18px;
    }

    .timeline-date{
        font-size: 15px;
    }

    .icon {
        width: 30px;
        height: auto;
    }

    .block{
        width: 50vw;
        height: 50vh;
    }
}